body {
  background-color: var(--grey-color);
}

:root {
  --primary-color: #e29426;
  --light-color: #e7cdb6;
  --plain-color: white;
  --dark-color: #51682b;
  --grey-color: #f3f1ec;
  --frosted: rgba(255, 255, 255, 0.466);
  --light-frosted: #e7cdb6c0;
}

.frosted-card {
  width: 280px;
  padding: 10px 10px 0 10px;
  margin: 20px auto 20px auto;
  background-color: var(--light-frosted) !important;
  backdrop-filter: blur(10px);
}

// buttons at bottom of form, same width as card, place in div className center-box to center
.center-box {
  display: flex;
  justify-content: center;
}

.wide-button {
  width: 280px;
  letter-spacing: 1px;
}

// wrap header text in h1, and place in div with className header-box
.header-box {
  display: flex;
  justify-content: right;
  width: 320px;
  margin-top: 10px;
}

h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 80%;
  text-align: right;
  color: var(--dark-color);
  margin: 10px 20px 0;
}

h2 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 95%;
  text-align: left;
  color: var(--dark-color);
  margin: 20px 20px 0 20px;
}

h3 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  font-size: 60px;
  letter-spacing: 1px;
  line-height: 85%;
  text-align: right;
  color: var(--dark-color);
  margin: 20px 20px 0 20px;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0 5px;
}

// // Restaurant Cards CSS
.resCard {
  position: relative;
  width: 600px;
  padding: 20px;
  max-width: 85vw;
  height: 50vh;
  border-radius: 20px;
  background-color: white;
  background-size: cover;
  // background-position: center;
  // box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.3);
}

.caption-div {
  background-color: rgba(105, 105, 105, 0.473);
  border-radius: 20px;
  padding: 15px;
}

.caption-div h2 {
  color: white;
  margin: 0;
}

.arrow-div {
  position: fixed;
  bottom: 20vh;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.left-arrow {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.left-arrow h2 {
  margin: 0 0 0 0;
  text-align: left;
}

.right-arrow {
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.right-arrow h2 {
  margin: 0 !important;
  text-align: right;
}

.restaurantcontainer {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

// stacks cards one ontop of the other
.swipe {
  position: absolute;
}

// CardsButtons CSS
.cardsButtons {
  position: fixed;
  bottom: 10vh;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.cardsButtons .MuiIconButton-root {
  background-color: white;
  box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3) !important;
}

.clickButtons__left {
  padding: 3vw !important;
  color: #ec5e6f !important;
}

.clickButtons__right {
  padding: 3vw !important;
  color: #76e2b3 !important;
}
